<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="https://github.com/Christoph142/ModernUI" defaultlocale="en" version="1.0">

	<name>Modern UI</name>
	<author href="http://my.opera.com/christoph142/blog">Christoph D.</author>
	<icon src="images/icon.png" />
	
	<description xml:lang="de">Windows 8 Modern UI für Opera</description>
	<description xml:lang="en">Windows 8 Modern UI for Opera</description>
	<description xml:lang="fr">Windows 8 Modern UI pour Opera</description>
	
	<!--preference name="size" value="10" /-->

</widget>